<div class="row mb-3">
    <!-- Earnings (Monthly) Card Example -->

    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card   subhome bg-success">
            <div class="card-body">
                <div class="row align-items-center">

                    <div class="col-auto">
                        <i class="fa fa-ad fa-2x text-white"></i>
                    </div>
                    <div class="col mr-2">
                        <div class="h8 mb-0 font-weight-bold text-gray-800"> <a routerLink="../BuyProduct"><button
                                    class="btn btn-none text-white">
                                    انشاء فاتورة شراء
                                </button></a></div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card   subhome bg-info ">
            <div class="card-body">
                <div class="row align-items-center">

                    <div class="col-auto">
                        <i class="fa fa-info-circle fa-2x text-white"></i>
                    </div>
                    <div class="col mr-2">
                        <div class="h8 mb-0 font-weight-bold text-gray-800"> <a routerLink="../BuyReport"><button
                                    class="btn btn-none text-white">
                                    عمليات فواتير الشراء
                                </button></a></div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card   subhome bg-danger ">
            <div class="card-body">
                <div class="row align-items-center">

                    <div class="col-auto">
                        <i class="fa fa-money-bill fa-2x text-white"></i>
                    </div>
                    <div class="col mr-2">
                        <div class="h8 mb-0 font-weight-bold text-gray-800"> <a routerLink="../SaleReport"><button
                                    class="btn btn-none text-white">
                                    انشاء فاتورة بيع
                                </button></a></div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card   subhome bg-warning ">
            <div class="card-body">
                <div class="row align-items-center">

                    <div class="col-auto">
                        <i class="fa fa-info-circle fa-2x text-white"></i>
                    </div>
                    <div class="col mr-2">
                        <div class="h8 mb-0 font-weight-bold text-gray-800"> <a routerLink="../SaleReport"><button
                                    class="btn btn-none text-white">
                                    عمليات فواتير البيع
                                </button></a></div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card h-100  subhome bg-primary ">
            <div class="card-body">
                <div class="row align-items-center">

                    <div class="col-auto">
                        <i class="fa fa-store fa-2x text-white"></i>
                    </div>
                    <div class="col mr-2">
                        <div class="h8 mb-0 font-weight-bold text-gray-800"> <a routerLink="../AddStore"><button
                                    class="btn btn-none text-white">
                                    انشاء مخزن
                                </button></a> </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card  subhome bg-success ">
            <div class="card-body">
                <div class="row align-items-center">

                    <div class="col-auto">
                        <i class="fa fa-info-circle fa-2x text-white"></i>
                    </div>
                    <div class="col mr-2">
                        <div class="h8 mb-0 font-weight-bold text-gray-800"> <a routerLink="../Stores"><button
                                    class="btn btn-none text-white">
                                    تقرير مخازن
                                </button></a> </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card   subhome bg-warning ">
            <div class="card-body">
                <div class="row align-items-center">

                    <div class="col-auto">
                        <i class="fa fa-address-book fa-2x text-white"></i>
                    </div>
                    <div class="col mr-2">
                        <div class="h8 mb-0 font-weight-bold text-gray-800"> <a routerLink="../AddExperter"><button
                                    class="btn btn-none text-white">
                                    انشاء مورد
                                </button></a> </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card  subhome bg-danger ">
            <div class="card-body">
                <div class="row align-items-center">

                    <div class="col-auto">
                        <i class="fa fa-info-circle fa-2x text-white"></i>
                    </div>
                    <div class="col mr-2">
                        <div class="h8 mb-0 font-weight-bold text-gray-800"> <a routerLink="../Experter"><button
                                    class="btn btn-none text-white">
                                    تقرير المواردين
                                </button></a> </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card   subhome">
            <div class="card-body">
                <div class="row align-items-center">

                    <div class="col-auto">
                        <i class="fa fa-ad fa-2x text-white"></i>
                    </div>
                    <div class="col mr-2">
                        <div class="h8 mb-0 font-weight-bold text-gray-800"> <a routerLink="../addProduct"><button
                                    class="btn btn-warning text-white">
                                    اضافة صنف جديد
                                </button></a></div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card   subhome bg-primary ">
            <div class="card-body">
                <div class="row align-items-center">

                    <div class="col-auto">
                        <i class="fa fa-info-circle fa-2x text-white"></i>
                    </div>
                    <div class="col mr-2">
                        <div class="h8 mb-0 font-weight-bold text-gray-800"> <a routerLink="../ProductDetails"><button
                                    class="btn btn-none text-white">
                                    تقرير الاصناف
                                </button></a> </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>