<div class="card-body mt-5 col-md-12 col-xs-12 justify-content-center d-flex
">

    <form [formGroup]="Form" class="col-md-6 col-xs-12 form-design">
        <div class="logindesign col-md-4 col-xs-12">
            <div class="design-details">

            </div>
        </div>
        <div class=" col-md-8  col-xs-12 addForm">
            <div class="row">

                <h4 class="text-center">تسجيل الدخول </h4>





                <div class="col-md-12">
                    <div class="form-group mt-3">
                        <label for="formGroupExampleInput" class="mb-2"> البريد الالكتروني </label>
                        <input type="email" class="form-control" placeholder=" البريد الالكتروني "
                            formControlName="email">
                    </div>
                    <div *ngIf="Form.controls['email'].touched
                            && !Form.controls['email'].valid" class="text-danger
                            ">
                        ادخل البريد الالكتروني
                    </div>
                </div>




                <div class="form-group float-right mt-5 mb-5 d-flex flex-row justify-content-end col-md-12">
                    <button class="btn btn-warning text-white m-2" type="submit" (click)=" foregetpassword()">
                        ارسال
                    </button>

                </div>
                <hr>
                <div class="form-group  mt-5 d-flex flex-row  col-md-12">
                    <button class="btn  text-white m-2" type="submit" style="background:#0dcaf0 ;width:100%">
                        <a routerLink="/login" style="text-decoration:none ; color:white"> تسجيل دخول</a>
                    </button>

                </div>





            </div>
        </div>


    </form>

</div>