<!-- TopBar -->
<nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
  <ul class="navbar-nav mr-auto  menu">
    <li class="nav-item no-arrow"><button class="sidebar-toggle" (click)="openMenu()"><i
          class="fa fa-bars  fa-fw"></i></button></li>
  </ul>


  <ul class="navbar-nav mr-auto">

    <li class="nav-item dropdown no-arrow my-2 my-lg-0 ">
    
      <div class=" dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="messagesDropdown">


        <a> <button class="btn btn-none" (click)="sigout()"> تسجيل الخروج </button></a>
      </div>
    </li>


  </ul>
</nav>
<!-- Topbar -->