<div class="col-xl-12 col-lg-12">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary"> الملف الشخصي</h6>
        </div>
        <div class="card-body">
            <div class="d-flex flex-column justify-content-center col-md-5 addForm">



                <div class="row" *ngIf=" auth.userData as user">
                    <div class="col-md-12">
                        <div class="form-group mt-3">
                            <img src={{user.photoURL}} class="img-responsive userimage" />



                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mt-3">
                            <label class="mb-2">اسم المستخدم</label>
                            <input class="form-control " [(ngModel)]="user.displayName" readonly>
                        </div>

                    </div>
                    <div class="col-md-12" class="mb-2">
                        <div class="form-group mt-3">
                            <label> البريد الالكتروني</label>
                            <input class="form-control " [(ngModel)]="user.email" readonly>
                        </div>

                    </div>
                    <div class="col-md-12" class="mb-2">
                        <div class="form-group mt-3">
                            <label> البريد الالكتروني</label>
                            <input class="form-control " type="password " [(ngModel)]="user.password" readonly>
                        </div>

                    </div>

                </div>
            </div>
        </div>